@import "./bootstrap.scss";

h1, h2, h3, h4, h5, h6, p, ul, li, a {
    font-family: "Montserrat", sans-serif;
}

.container-100 {
    width: 100%;
}

.navbar__banner {
    .navbar__banner--container {
        // background-color: #006DF0;

        header {
            .btn__login {
                background-color: #006DF0;
                color: #fff;
                font-weight: 600;
            }

            .btn__login:hover {
                outline: 2px solid #006DF0;
                background-color: rgba(0, 0, 0, 0);
                color: #006DF0;
            }

            .menu--mob {
                position: fixed;
                width: 100vw;
                height: 100vh;
                z-index: 100;
                background-color: #006DF0;
                grid-template-rows: 76px auto;

                &__header {
                    &__btn {
                        height: 60px;

                        i {
                            font-size: 28px;
                            color: #fff;
                        }
                    }
                }

                &__items {
                    &__logo {
                        img {
                            height: 50px;
                        }
                    }

                    &__btn {
                        font-weight: 500;
                        color: #006DF0;
                    }
                }
            }

            .navbar--mob {
                z-index: 4;
                width: 100%;
                position: fixed;

                &__logo {
                    img {
                        height: 50px;
                    }
                }

                &__btn {
                    i {
                        font-size: 28px;
                        color: #006DF0;
                    }
                }
            }
        }

        .banner__info {
            height: 600px;
            padding: 96px 20px 20px 20px;
            background-image: url("../img/banner-mob.jpg");
            background-position: top right;
            background-repeat: no-repeat;
            background-size: cover;

            h5 {
                color: #323232;
                font-size: 16px;
                width: 75%;
            }
            h1 {
                width: 75%;
                color: #006DF0;
                font-weight: 800;
            }
        }
    }
}

main {
    .nosotros {
        padding: 104px 0 64px 0;

        .globo {
            position: relative;
            border-radius: 16px;

            .pregunta {
                width: 80px;
                height: auto;
                position: absolute;
                top: -40px;
            }

            h5 {
                color: #006DF0;
                font-weight: 600;
            }
        }

        .globo::after {
            content: "";
            position: absolute;
            bottom: -48px;
            right: 32px;
            width: 0;
            height: 0;
            border: 24px solid transparent;
            border-top-color: white;
            z-index: 2;
        }

        .globo::before {
            content: "";
            position: absolute;
            bottom: -48px;
            right: 32px;
            width: 0;
            height: 0;
            border: 24px solid transparent;
            border-top-color: white;
            z-index: 1;
            filter:
                drop-shadow(-1px 2px 2px rgba(0, 0, 0, 0.075))
                drop-shadow(1px 2px 2px rgba(0, 0, 0, 0.075));
        }
    }

    .certificados {
        p {
            span {
                font-weight: 600;
                font-style: italic;
            }
        }
        img {
            max-width: 100%;
            width: 240px;
        }
        
    }

    .cercapro {
        background-color: #006DF0;
        position: relative;
        margin-bottom: 140px;

        .cercapro--info {
            margin-bottom: 40px;

            .logo {
                width: 160px;
            }

            .pantalla {
                position: absolute;
                max-width: 90%;
                top: 220px;
                border-radius: 8px;
            }
        } 
    }

    .mensaje {
        p {
            span {
                font-weight: 600;
                font-style: italic;
            }
        }

        h4 {
            font-weight: 300;

            span {
                font-size: 60px;
                color: #006DF0;
                line-height: 60px;
            }
        }
    }

    .caracteristicas {
        .title {
            .ico-bulb {
                width: 48px;
                height: 48px;
            }

            h5 {
                font-weight: 600;
                color: #006DF0;
            }
        }

        .list {
            .ico-check {
                margin-top: 4px;
                width: 16px;
                height: auto;
            }
        }

        p {
            span {
                font-weight: 600;
                font-style: italic;
            }
        }
    }
}

// breakpoint sm
@media screen and (min-width: 768px) {
    .navbar__banner {
        .navbar__banner--container {
            .banner__info {
                background-image: url("../img/banner-desktop.jpg");
                background-position: bottom center;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
    }

}

// breakpoint lg
@media screen and (min-width: 992px) {
    .container-50 {
        width: 50%;
    }

    .container-75 {
        width: 75%;
    }

    .navbar__banner {
        .navbar__banner--container {
            header {
                .navbar--desktop {
                    position: fixed;
                    width: 100%;
                    margin: 0 auto;
                    z-index: 999;

                    &__logo {
                        img {
                            height: 60px;
                        }
                    }

                    .nav-link {
                        position: relative;
                        display: inline-block;
                        cursor: pointer;
                        font-weight: 600;
                    }

                    .nav-link::after {
                        content: "";
                        position: absolute;
                        left: 0;
                        bottom: -4px;
                        width: 0;
                        height: 2px;
                        background-color: #006DF0;
                        transition: width 0.3s ease;
                    }

                    .nav-link:hover::after {
                        width: 100%;
                    }
                }
            }

            .banner__info {
                padding-top: 158px;

                h1, h5 {width: 100%}
                h5 {
                    font-size: 24px;
                }
            }
        }
    }

    main {
        .nosotros {
            .globo {
                .pregunta {
                    width: 92px;
                }
            }
        }

        .cercapro {
            margin-bottom: 260px;

            .cercapro--info {
                margin-bottom: 300px;

                .pantalla {
                    max-width: 100%;
                    top: 200px;
                }
            }
        }

        .mensaje {
            h4 {
                span {
                    font-size: 60px;
                    color: #006DF0;
                    line-height: 60px;
                }
            }
        }
    }
}

// breakpoint xl
@media screen and (min-width: 1200px) {

}