@import "./bootstrap.scss";

h1, h2, h3, h4, h5, h6, p, ul, li, a {
    font-family: "Montserrat", sans-serif;
}

.montserrat-600 {
    font-weight: 600;
}

.text-blue-cerca {
    color: #006DF0;
}

.container-100 {
    width: 100%;
}

.navbar__banner {
    .navbar__banner--container {
        // background-color: #006DF0;

        header {
            .btn__login {
                background-color: #006DF0;
                color: #fff;
                font-weight: 600;
            }

            .btn__login:hover {
                outline: 2px solid #006DF0;
                background-color: rgba(0, 0, 0, 0);
                color: #006DF0;
            }

            .menu--mob {
                position: fixed;
                width: 100vw;
                height: 100vh;
                z-index: 100;
                background-color: #006DF0;
                grid-template-rows: 76px auto;

                &__header {
                    &__btn {
                        height: 60px;

                        i {
                            font-size: 28px;
                            color: #fff;
                        }
                    }
                }

                &__items {
                    &__logo {
                        img {
                            height: 50px;
                        }
                    }

                    &__btn {
                        font-weight: 500;
                        color: #006DF0;
                    }
                }
            }

            .navbar--mob {
                z-index: 4;
                width: 100%;
                position: fixed;

                &__logo {
                    img {
                        height: 50px;
                    }
                }

                &__btn {
                    i {
                        font-size: 28px;
                        color: #006DF0;
                    }
                }
            }
        }

        .banner__info {
            height: 600px;
            padding: 96px 20px 20px 20px;
            background-image: url("../img/banner-mob.jpg");
            background-position: top right;
            background-repeat: no-repeat;
            background-size: cover;

            h5 {
                color: #323232;
                font-size: 16px;
                width: 75%;
            }
            h1 {
                width: 75%;
                color: #006DF0;
                font-weight: 800;
            }
        }
    }
}

main {
    .nosotros {
        padding: 104px 24px 64px 24px;

        .globo {
            padding: 24px 48px;
            position: relative;
            border-radius: 16px;

            .pregunta {
                width: 80px;
                height: auto;
                position: absolute;
                top: -40px;
            }

            h5 {
                color: #006DF0;
                font-weight: 600;
            }
        }

        .globo::after {
            content: "";
            position: absolute;
            bottom: -48px;
            right: 32px;
            width: 0;
            height: 0;
            border: 24px solid transparent;
            border-top-color: white;
            z-index: 2;
        }

        .globo::before {
            content: "";
            position: absolute;
            bottom: -48px;
            right: 32px;
            width: 0;
            height: 0;
            border: 24px solid transparent;
            border-top-color: white;
            z-index: 1;
            filter:
                drop-shadow(-1px 2px 2px rgba(0, 0, 0, 0.075))
                drop-shadow(1px 2px 2px rgba(0, 0, 0, 0.075));
        }
    }

    .certificados {
        padding: 64px 24px;

        p {
            span {
                font-weight: 600;
                font-style: italic;
            }
        }
        img {
            max-width: 100%;
            width: 240px;
        }
        
    }

    .cercapro {
        background: linear-gradient(to bottom, #006DF0 75%, transparent 25%);

        .cercapro--info {
            padding: 64px 24px 0 24px;

            .logo {
                width: 160px;
            }

            .pantalla {
                max-width: 100%;
                border-radius: 8px;
            }
        } 
    }

    .mensaje {
        padding: 64px 24px;

        p {
            span {
                font-weight: 600;
                font-style: italic;
            }
        }

        h4 {
            font-weight: 300;

            span {
                font-size: 60px;
                color: #006DF0;
                line-height: 60px;
            }
        }
    }

    .caracteristicas {
        padding: 64px 24px;

        .title {
            .ico-bulb {
                width: 48px;
                height: 48px;
            }

            h5 {
                font-weight: 600;
                color: #006DF0;
            }
        }

        .list {
            .ico-check {
                margin-top: 4px;
                width: 16px;
                height: auto;
            }
        }

        p {
            span {
                font-weight: 600;
                font-style: italic;
            }
        }
    }

    .beneficios {
        padding: 64px 24px;

        &__buttons {
            button {
                font-size: 14px;
                font-weight: 500;
            }
        }

        &__slider {
            .carousel {
                top: auto !important;
                bottom: 0;
                margin: 0;
                justify-content: flex-start;

                .btn__indicador {
                    border: none;
                    border-radius: 5px;
                    width: 10px;
                    height: 10px;
                    background-color: $gray-300 !important;
                    transition: width 0.3s ease-in-out, height 0.3s ease-in-out, background-color 0.3s ease-in-out;
                }

                .btn__indicador.active {
                    width: 28px;
                    background-color: #006DF0 !important;
                } 
            }

            .inner {
                padding-top: 0 !important;

                .item {
                    height: 980px;
                }
            }

            .carousel-indicators {
                top: 0;
                margin: 0;
            }

            .carousel-inner {
                padding-top: 80px;
            }

            &__item {
                background-color: #fff;

                &__text {
                    width: 100%;
                }

                &__img {
                    width: 100%;

                    p {
                        font-size: 10px;
                    }

                    img {
                        max-width: 100%;
                        height: auto;
                    }
                }
            }
        }
    }

    .testimonios {
        padding: 64px 24px;

        h3 {
            margin-bottom: 32px;
        }
        
        &__buttons {
            button {
                font-size: 14px;
                font-weight: 500;
            }
        }

        &__slider {
            .carousel {
                top: auto !important;
                bottom: 0;
                margin: 0;
                justify-content: flex-start;

                .btn__indicador {
                    border: none;
                    border-radius: 5px;
                    width: 10px;
                    height: 10px;
                    background-color: $gray-300 !important;
                    transition: width 0.3s ease-in-out, height 0.3s ease-in-out, background-color 0.3s ease-in-out;
                }

                .btn__indicador.active {
                    width: 28px;
                    background-color: #006DF0 !important;
                } 
            }

            .inner {
                padding-top: 0 !important;

                .item {
                    margin-bottom: 40px;
                }
            }

            .carousel-indicators {
                top: 0;
                margin: 0;
            }

            .carousel-inner {
                padding-top: 80px;
            }

            &__item {
                background-color: #fff;

                &__avatar {
                    img {
                        width: 48px;
                        height: 48px;
                    }

                    p {
                        font-size: 12px;
                        line-height: inherit;
                    }
                }

                &__estrellas {
                    i {
                        font-size: 20px;
                        color: #006DF0;
                    }
                }
            }
        }
    }
}

.contacto {
    padding: 64px 24px;
}

// breakpoint sm
@media screen and (min-width: 768px) {
    .navbar__banner {
        .navbar__banner--container {
            .banner__info {
                background-image: url("../img/banner-desktop.jpg");
                background-position: bottom center;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
    }
}

// breakpoint lg
@media screen and (min-width: 992px) {

    .container-50 {
        width: 50%;
    }

    .container-65 {
        width: 65%;
    }

    .container-75 {
        width: 75%;
    }

    .navbar__banner {
        .navbar__banner--container {
            header {
                .navbar--desktop {
                    position: fixed;
                    width: 100%;
                    margin: 0 auto;
                    z-index: 999;

                    &__logo {
                        img {
                            height: 60px;
                        }
                    }

                    .nav-link {
                        position: relative;
                        display: inline-block;
                        cursor: pointer;
                        font-weight: 600;
                    }

                    .nav-link::after {
                        content: "";
                        position: absolute;
                        left: 0;
                        bottom: -4px;
                        width: 0;
                        height: 2px;
                        background-color: #006DF0;
                        transition: width 0.3s ease;
                    }

                    .nav-link:hover::after {
                        width: 100%;
                    }
                }
            }

            .banner__info {
                padding-top: 158px;

                h1, h5 {width: 100%}
                h5 {
                    font-size: 24px;
                }
            }
        }
    }

    main {
        .nosotros {
            padding-left: 0;
            padding-right: 0;

            .globo {
                // padding: 32px 64px;

                .pregunta {
                    width: 92px;
                }
            }
        }

        .certificados {
            padding: 64px 0;
        }

        .mensaje {
            padding: 64px 0;

            h4 {
                span {
                    font-size: 60px;
                    color: #006DF0;
                    line-height: 60px;
                }
            }
        }

        .caracteristicas {
            padding: 64px 0;
        }

        .beneficios {
            padding: 64px 0;

            &__slider {
                .inner {
                    .item {
                        height: 480px;
                    }
                }

                &__item {
                    height: 100%;

                    &__text {
                        width: 65%;
                    }

                    &__img {
                        width: 35%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        img {
                            max-height: 400px;
                        }
                    }
                }
            }
        }

        .testimonios {
            padding: 64px 0;

            h3 {
                margin-bottom: 64px;
            }

            &__item {
                background-color: #fff;

                &__avatar {
                    img {
                        width: 48px;
                        height: 48px;
                    }

                    p {
                        font-size: 12px;
                        line-height: inherit;
                    }
                }

                &__estrellas {
                    i {
                        font-size: 20px;
                        color: #006DF0;
                    }
                }
            }
        }
    }

    .contacto {
        padding: 64px 0;
    }
}

// breakpoint xl
@media screen and (min-width: 1200px) {

}